<div class="tooltip">
  <a href="#{{this.tooltipId}}" class="tooltip-trigger" aria-describedby={{this.tooltipTextId}}>{{@textWithTooltip}}</a>
  <div id="{{this.tooltipTextId}}" class="visually-hidden tooltip-content" role="tooltip" tabindex="-1">
    {{@tooltipText}}
  </div>
</div>